*{
    // background-color: rgb(214, 214, 214);
    margin: 0px;
    padding: 0pc;

 }

 body{
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
     line-height: 22px;
     color: #121212;
    }

 .main{
     width: 100%;
     max-width: 980px;
     margin: 50px auto 80px;
     padding: 0px 10px;
 } 